body{ 
     background:#0d1117;
     color: white; 
     font-family:'segoe UI',sans-serif;
    }
    .dashboard{
        text-align: center;
        border: 1px solid #30363d;
        padding :40px;
        border-radius: 15px;
        background: #161b22;
    }
    .status-normal{
        background-color:#238636;
        padding: 20px;
        margin: 20px 0;
        border-radius: 8px;
        transition: 0.5s;
    }
    .status-emergecy{
        background-color:#da3633;
        padding: 20px;
        margin: 20px 0;
        border-radius: 8px;
        animation: pulse 1s infinite;
    }
    button {
        background-color: #21262d;
        color: white;
        border: 1px soloid #f0f6fc1a;
        padding: 10px 20px;
        border-radius: 6px;

    }
@keyframes pulse{
    0%{ transform: scale(1);}
    50%{ transform: scale(1.05); }
    100%{ transform: scale(1);}
}